<section class="app">
  <div class="container">
    <div class="app__inner">
      <div class="app__content">
        <h2 class="app__title title">Скачайте мобильное приложение</h2>
        <p class="app__text">
          Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
          месте.
        </p>
        <a class="app__link app__link--appstore" href="#" style="background-image: url(images/appstore.png);">
          <span class="sr-only">Перейти в приложение Апп Стор</span></a>
        <a class="app__link app__link--googleplay" href="#" style="background-image: url(images/googleplay.png);">
          <span class="sr-only">Перейти в приложение Гугл Плей</span></a>
      </div>
    </div>
  </div>
</section>