<section class="categories" id="categories">
  <div class="container">
    <h2 class="categories__title title">
      Популярные категории
    </h2>
    <ul class="categories__buttons">
      <li class="categories__item">
        <button class="categories__btn" data-filter="all" type="button">
          <svg class="categories__icon" width="44" height="44">
            <use id="icon-burger" xlink:href="images/sprite.svg#icon-burger"></use>
          </svg>
          Бургеры
        </button>
      </li>
      <li class="categories__item">
        <button class="categories__btn" data-filter=".category-a" type="button">
          <svg class="categories__icon" width="44" height="44">
            <use id="icon-pizza" xlink:href="images/sprite.svg#icon-pizza"></use>
          </svg>
          Пицца
        </button>
      </li>
      <li class="categories__item">
        <button class="categories__btn" data-filter=".category-b" type="button">
          <svg class="categories__icon" width="44" height="44">
            <use id="icon-sandwich" xlink:href="images/sprite.svg#icon-sandwich"></use>
          </svg>
          Сендвичи
        </button>
      </li>
      <li class="categories__item">
        <button class="categories__btn categories__btn--size" data-filter=".category-c" type="button">
          <svg class="categories__icon" width="44" height="44">
            <use id="icon-asia" xlink:href="images/sprite.svg#icon-asia"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>
      <li class="categories__item">
        <button class="categories__btn" data-filter=".category-d" type="button">
          <svg class="categories__icon" width="44" height="44">
            <use id="icon-sets" xlink:href="images/sprite.svg#icon-sets"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>
    <ul class="categories__list">
      <li class="categories__box mix category-a">
        <article class="product">
          <a class="product__link" href="product-page.html">
            <img class="product__img" src="images/burgers/burger-1.jpg" alt="Чизбургер с листьями салата" width="140"
              height="140">
            <h3 class="product__text">
              Чизбургер с листьями салата
            </h3>
            <span class="product__price">
              160
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="categories__box mix category-b">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-2.jpg" alt="Бифбургер" width="140" height="140">
            <h3 class="product__text">
              Бифбургер
            </h3>
            <span class="product__price">
              190
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="categories__box mix category-b">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-3.jpg" alt="Королевский чизбургер" width="140"
              height="140">
            <h3 class="product__text">
              Королевский чизбургер
            </h3>
            <span class="product__price">
              260
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="categories__box mix category-a">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-4.jpg" alt="Черный гамбургер" width="140" height="140">
            <h3 class="product__text">
              Черный гамбургер
            </h3>
            <span class="product__price">
              199
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="categories__box mix category-c">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-5.jpg" alt="Чикен бургер" width="140" height="140">
            <h3 class="product__text">
              Чикен бургер
            </h3>
            <span class="product__price">
              180
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="categories__box mix category-c">
        <article class="product">
          <a class="product__link" href="product-page.html">
            <img class="product__img" src="images/burgers/burger-1.jpg" alt="Чизбургер с листьями салата" width="140"
              height="140">
            <h3 class="product__text">
              Чизбургер с листьями салата
            </h3>
            <span class="product__price">
              160
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="categories__box mix category-c">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-2.jpg" alt="Бифбургер" width="140" height="140">
            <h3 class="product__text">
              Бифбургер
            </h3>
            <span class="product__price">
              190
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="categories__box mix category-d">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-3.jpg" alt="Королевский чизбургер" width="140"
              height="140">
            <h3 class="product__text">
              Королевский чизбургер
            </h3>
            <span class="product__price">
              260
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="categories__box mix category-d">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-4.jpg" alt="Черный гамбургер" width="140" height="140">
            <h3 class="product__text">
              Черный гамбургер
            </h3>
            <span class="product__price">
              199
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="categories__box mix category-d">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-5.jpg" alt="Чикен бургер" width="140" height="140">
            <h3 class="product__text">
              Чикен бургер
            </h3>
            <span class="product__price">
              180
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
    </ul>
    <a class="link-detail" href="catalog.html">Показать еще</a>
  </div>
</section>