<section class="description">
  <div class="description__container">
    <div class="container">
      <div class="description__top">
        <ul class="description__slider-list">
          <li class="description__slider-item">
            <a class="description__slider-link" href="images/burgers/burger-megabig.jpg">
              <img class="description__slider-img" src="images/burgers/burger-big.jpg" alt="Чизбургер с листьями салата"
                width="400" height="400">
            </a>
          </li>
          <li class="description__slider-item">
            <a class="description__slider-link" href="images/burgers/burger-megabig.jpg">
              <img class="description__slider-img" src="images/burgers/burger-big.jpg" alt="Чизбургер с листьями салата"
                width="400" height="400">
            </a>
          </li>
          <li class="description__slider-item">
            <a class="description__slider-link" href="images/burgers/burger-megabig.jpg">
              <img class="description__slider-img" src="images/burgers/burger-big.jpg" alt="Чизбургер с листьями салата"
                width="400" height="400">
            </a>
          </li>
        </ul>
        <div class="description__content">
          <h2 class="description__title title">Чизбургер с листьями салата</h2>
          <div class="star" data-rateyo-rating="4"></div>
          <span class="description__price">
            160
            <span class="description__currency">грн.</span>
          </span>
          <form class="description__form" action="#">
            <input class="description__input" type="number" value="1" min="1" name="number">
            <button class="button button--icon">
              <svg class="description__button-svg" width="18" height="18">
                <use id="icon-cart__btn" xlink:href="images/sprite.svg#icon-cart__btn"></use>
              </svg>
              Добавить в корзину
            </button>
          </form>
          <h3 class="description__subtitle">
            Доставка и оплата
          </h3>
          <p class="description__text">
            Минимальная сумма заказа — 160 грн.
          </p>
          <p class="description__text">
            Время доставки заказа — 80-140 мин.
          </p>
          <p class="description__text">
            Оплата осуществляется только банковской картой.
          </p>
          <p class="description__text">
            Окончательная сумма заказа формируется после сбора товаров.
          </p>
          <a class="link-detail" href="#">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
  <div class="description-tabs">
    <div class="container">
      <ul class="description-tabs__list">
        <li class="description-tabs__item">
          <button class="description-tabs__link description-tabs__link--active" href="#tab-1" type="button">Описание</button>
        </li>
        <li class="description-tabs__item">
          <button class="description-tabs__link" href="#tab-2" type="button">Характеристики</button>
        </li>
        <li class="description-tabs__item">
          <button class="description-tabs__link" href="#tab-3" type="button">Отзывы
            <span class="description-tabs__span">(2)</span>
          </button>
        </li>
      </ul>
      <div class="description-tabs__content">
        <div class="description-tabs__content-item description-tabs__content-item--active" id="tab-1">
          <p class="description-tabs__text">
            Рубленый бифштекс из натуральной говядины на карамелизованной булочке, с ломтиком сыра «Чеддер», кетчупом,
            горчицей,
            луком и маринованными огурчиками.
          </p>
          <p class="description-tabs__text">
            Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута
          </p>
          <p class="description-tabs__text">
            Внешний вид товара может отличаться от изображений, представленных на сайте.
          </p>
        </div>
        <div class="description-tabs__content-item" id="tab-2">
          <p class="description-tabs__text description-tabs__text--indect">
            <span class="description-tabs__span-text">Диаметр:</span>
            20 см
          </p>
          <p class="description-tabs__text description-tabs__text--indect">
            <span class="description-tabs__span-text">Вес:</span>
            300 гр
          </p>
          <p class="description-tabs__text description-tabs__text--indect">
            <span class="description-tabs__span-text">Калорийность (на 100г):</span>
            295 ккал
          </p>
          <p class="description-tabs__text description-tabs__text--indect">
            <span class="description-tabs__span-text">Срок хранения:</span>
            до 3 дней
          </p>
        </div>
        <div class="description-tabs__content-item" id="tab-3">
          <div class="comments">
            <p class="comments__title">Мнения наших клиентов</p>
            <div class="comments__item">
              <div class="comments__box">
                <div class="comments__author-box">
                  <img class="comments__img" src="images/reviews/review-2.jpg" alt="Отзыв клиента" width="70"
                    height="70">
                  <div class="comments__box-info">
                    <span class="comments__name">Андрей</span>
                    <span class="comments__dates">10.06.2021</span>
                  </div>
                </div>
                <div class="star" data-rateyo-rating="5"></div>
              </div>
              <p class="comments__text">
                Доставили быстро. Товар свежий и очень вкусный, буду пробовать еще!))
              </p>
            </div>
            <div class="comments__item">
              <div class="comments__box">
                <div class="comments__author-box">
                  <img class="comments__img" src="images/reviews/review-2.jpg" alt="Отзыв клиента" width="70"
                    height="70">
                  <div class="comments__box-info">
                    <span class="comments__name">Екатерина Белая</span>
                    <span class="comments__dates">7.06.2021</span>
                  </div>
                </div>
                <div class="star" data-rateyo-rating="4"></div>
              </div>
              <p class="comments__text">
                этот бургер неплохой чтобы перекусить, когда нет возможности или времени что-нибудь приготовить. Это
                отличный вариант, чтобы съесть на ходу, но чтобы побаловать себя, я больше предпочту пиццу
              </p>
            </div>
          </div>
          <form class="comments-form">
            <p class="comments__title">Оставить отзыв</p>
            <label class="comments-form__label-star">
              Ваша оценка *
              <input class="comments-form__input" type="radio" name="click" required>
              <div class="star-radio" data-rateyo-rating="0"></div>
            </label>
            <div class="comments-form__box">
              <label class="comments-form__label comments-form__label--area">
                Ваш отзыв *
                <textarea class="comments-form__field input--int" placeholder="Введите текст отзыва" required></textarea>
              </label>
              <div class="comments-form__fields">
                <label class="comments-form__label">
                  Имя
                  <input class="comments-form__field input--int" type="text" placeholder="Введите ваше имя" name="name">
                </label>
                <label class="comments-form__label">
                  Email *
                  <input class="comments-form__field input--int" type="email" placeholder="youremail@mail.com" name="email"
                    required>
                </label>
              </div>
            </div>
            <div class="comments-form__check">
              <input class="comments-form__input-check" type="checkbox" name="click">
              <p class="comments-form__text">
                Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
              </p>
            </div>
            <button class="button comments-form__button" type="submit">Оставить отзыв</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>