<section class="interests">
  <div class="container">
    <h2 class="interests__title title">Вас может заинтересовать</h2>
    <ul class="interests__list">
      <li class="interests__item">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-1.jpg" alt="Чизбургер с листьями салата" width="140"
              height="140">
            <h3 class="product__text">
              Чизбургер с листьями салата
            </h3>
            <span class="product__price">
              160
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="interests__item">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-2.jpg" alt="Бифбургер" width="140" height="140">
            <h3 class="product__text">
              Бифбургер
            </h3>
            <span class="product__price">
              190
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="interests__item">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-3.jpg" alt="Королевский чизбургер" width="140"
              height="140">
            <h3 class="product__text">
              Королевский чизбургер
            </h3>
            <span class="product__price">
              260
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="interests__item">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-4.jpg" alt="Черный гамбургер" width="140" height="140">
            <h3 class="product__text">
              Черный гамбургер
            </h3>
            <span class="product__price">
              199
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="interests__item">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-5.jpg" alt="Чикен бургер" width="140" height="140">
            <h3 class="product__text">
              Чикен бургер
            </h3>
            <span class="product__price">
              180
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="interests__item">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-1.jpg" alt="Чизбургер с листьями салата" width="140"
              height="140">
            <h3 class="product__text">
              Чизбургер с листьями салата
            </h3>
            <span class="product__price">
              160
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="interests__item">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-2.jpg" alt="Бифбургер" width="140" height="140">
            <h3 class="product__text">
              Бифбургер
            </h3>
            <span class="product__price">
              190
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="interests__item">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-3.jpg" alt="Королевский чизбургер" width="140"
              height="140">
            <h3 class="product__text">
              Королевский чизбургер
            </h3>
            <span class="product__price">
              260
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="interests__item">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-4.jpg" alt="Черный гамбургер" width="140" height="140">
            <h3 class="product__text">
              Черный гамбургер
            </h3>
            <span class="product__price">
              199
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
      <li class="interests__item">
        <article class="product">
          <a class="product__link" href="#">
            <img class="product__img" src="images/burgers/burger-5.jpg" alt="Чикен бургер" width="140" height="140">
            <h3 class="product__text">
              Чикен бургер
            </h3>
            <span class="product__price">
              180
              <span class="product__currency">грн.</span>
            </span>
          </a>
          <button class="product__button button" type="button">В корзину</button>
        </article>
      </li>
    </ul>
  </div>
</section>