<section class="products">
  <div class="container">
    <div class="products__box">
      <h2 class="products__title title">Каталог продуктов</h2>
      <form class="products__box-form" action="#">
        <select class="products__box-select select-style">
          <option>По названию</option>
          <option>По бренду</option>
          <option>По цене</option>
          <option>По фильтру</option>
        </select>
        <select class="products__box-select select-style">
          <option>по 12</option>
          <option>по 9</option>
          <option>по 6</option>
          <option>по 3</option>
        </select>
      </form>
    </div>
  </div>
</section>