<section class="restaurants">
  <div class="container">
    <h2 class="restaurants__title title">
      Лучшие рестораны
    </h2>
    <ul class="restaurants__list">
      <li class="restaurants__item">
        <article class="restaurant">
          <img class="restaurant__img" src="images/restaurants/restaurant-1.jpg" alt="Блейз Пицца" width="370"
            height="300">
          <div class="restaurant__content">
            <h4 class="restaurant__title">Blaze Pizza</h4>
            <div class="restaurant__box">
              <span class="restaurant__time">11:00 - 22:00</span>
              <a class="restaurant__link-icon" href="#">
                <span class="sr-only">Перейти на страницу ресторана</span>
                <svg class="restaurant__icon" width="14" height="13">
                  <use id="icon-arrow-white" xlink:href="images/sprite.svg#icon-arrow-white"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant">
          <img class="restaurant__img" src="images/restaurants/restaurant-2.jpg" alt="Пицца Ранчо" width="370"
            height="300">
          <div class="restaurant__content">
            <h4 class="restaurant__title">Pizza Runcho</h4>
            <div class="restaurant__box">
              <span class="restaurant__time">12:00 - 21:00</span>
              <a class="restaurant__link-icon" href="#">
                <span class="sr-only">Перейти на страницу ресторана</span>
                <svg class="restaurant__icon" width="14" height="12">
                  <use id="icon-arrow-white" xlink:href="images/sprite.svg#icon-arrow-white"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant">
          <img class="restaurant__img" src="images/restaurants/restaurant-3.jpg" alt="Пицца Хат" width="370"
            height="300">
          <div class="restaurant__content">
            <h4 class="restaurant__title">Pizza Hut</h4>
            <div class="restaurant__box">
              <span class="restaurant__time">11:00 - 22:00</span>
              <a class="restaurant__link-icon" href="#">
                <span class="sr-only">Перейти на страницу ресторана</span>
                <svg class="restaurant__icon" width="14" height="12">
                  <use id="icon-arrow-white" xlink:href="images/sprite.svg#icon-arrow-white"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant">
          <img class="restaurant__img" src="images/restaurants/restaurant-4.jpg" alt="Мак Дональдс" width="370"
            height="300">
          <div class="restaurant__content">
            <h4 class="restaurant__title">McDonald`s</h4>
            <div class="restaurant__box">
              <span class="restaurant__time">06:00 - 23:00</span>
              <a class="restaurant__link-icon" href="#">
                <span class="sr-only">Перейти на страницу ресторана</span>
                <svg class="restaurant__icon" width="14" height="12">
                  <use id="icon-arrow-white" xlink:href="images/sprite.svg#icon-arrow-white"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant">
          <img class="restaurant__img" src="images/restaurants/restaurant-5.jpg" alt="КФС" width="370" height="300">
          <div class="restaurant__content">
            <h4 class="restaurant__title">KFC</h4>
            <div class="restaurant__box">
              <span class="restaurant__time">06:00 - 23:30</span>
              <a class="restaurant__link-icon" href="#">
                <span class="sr-only">Перейти на страницу ресторана</span>
                <svg class="restaurant__icon" width="14" height="12">
                  <use id="icon-arrow-white" xlink:href="images/sprite.svg#icon-arrow-white"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant">
          <img class="restaurant__img" src="images/restaurants/restaurant-6.jpg" alt="Стар Бургер" width="370"
            height="300">
          <div class="restaurant__content">
            <h4 class="restaurant__title">Star Burgers</h4>
            <div class="restaurant__box">
              <span class="restaurant__time">09:00 - 21:00</span>
              <a class="restaurant__link-icon" href="#">
                <span class="sr-only">Перейти на страницу ресторана</span>
                <svg class="restaurant__icon" width="14" height="12">
                  <use id="icon-arrow-white" xlink:href="images/sprite.svg#icon-arrow-white"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>