<section class="stock">
  <div class="container">
    <h2 class="stock__title title">
      Акции и скидки
    </h2>
    <ul class="stock__list">
      <li class="stock__item">
        <article class="restaurant">
          <a class="restaurant__link" href="#">
            <img class="restaurant__img" src="images/restaurants/restaurant-1.jpg" alt="Блейз Пицца" width="370"
              height="300">
          </a>
          <div class="restaurant__content">
            <p class="restaurant__text">
              Скидка 50% на вторую пиццу
            </p>
          </div>
        </article>
      </li>
      <li class="stock__item">
        <article class="restaurant">
          <a class="restaurant__link" href="#">
            <img class="restaurant__img" src="images/restaurants/restaurant-5.jpg" alt="КФС" width="370" height="300">
          </a>
          <div class="restaurant__content">
            <p class="restaurant__text">
              Картошечка из KFC даром при заказе бургера
            </p>
          </div>
        </article>
      </li>
      <li class="stock__item">
        <article class="restaurant">
          <a class="restaurant__link" href="#">
            <img class="restaurant__img" src="images/restaurants/restaurant-6.jpg" alt="Стар Бургер" width="370"
              height="300">
          </a>
          <div class="restaurant__content">
            <p class="restaurant__text">
              Чёрные бургеры на чёрный день
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>