body {
  min-height: 100vh;
  @extend %rubik-400;
  font-size: 20px;
  line-height: 1.5;
  color: $default;
  background-color: #F9FAFF;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}