html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: $default;
  background-color: #F9FAFF;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  border-radius: 5px;
  transition: background-color 0.5s, box-shadow 0.5s, opacity 0.5s;

  &:focus {
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 0px 0px 2px $focus-2;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.link {
  border-radius: 5px;
  transition: background-color 0.5s, box-shadow 0.5s, color 0.5s, text-shadow 0.5s;

  &:focus {
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 0px 0px 2px $focus-2;
  }

  &:hover {
    color: $accent;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}

.link-detail {
  color: $title;
  border-bottom: 1px solid $title;
  transition: text-decoration 0.5s, background-color 0.5s, box-shadow 0.5s, color 0.5s, text-shadow 0.5s, border-bottom 0.5s;

  &:focus,
  &:hover,
  &:active {
    text-decoration: transparent;
    border-radius: 5px;
    border-bottom: none;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 0px 0px 2px $focus-2;
  }

  &:hover {
    color: $accent;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}

.label {
  display: block;
  height: 44px;
}

.input {
  width: 100%;
  height: 100%;
  max-width: 250px;
  padding: 13px 15px;
  background-color: $white;
  border: 1px solid #C2C2C2;
  border-radius: 5px;
  transition: box-shadow 0.5s, border-color 0, 5s;

  &:focus {
    box-shadow: 0px 0px 0px 2px $accent;
    border-color: transparent;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.3;
    color: $dop;
    opacity: 0.9;
    transition: color 0.5s;
  }

  &:hover::placeholder {
    color: $title;
  }
}

.link-order {
  padding: 10px 30px;
  font-size: 18px;
  line-height: 1.3;
  background-color: $accent;
  border-radius: 5px;
  border: 2px solid transparent;
  color: $white;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;

  &:focus {
    background-color: $focus;
    border-color: $focus-2;
    color: $accent;
  }

  &:hover {
    background-color: $white;
    color: $accent;
    border-color: $focus-2;
  }

  &:active {
    border-color: transparent;
    color: $accent;
    background-color: $active;
  }
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
  color: $title;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-mini {
  padding: 5px 14px;
  font-size: 14px;
  line-height: 1.3;
  background-color: $accent;
  border-radius: 5px;
  border: 2px solid transparent;
  color: $white;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;

  &:focus {
    background-color: $focus;
    border-color: $focus-2;
    color: $accent;
  }

  &:hover {
    background-color: $white;
    color: $accent;
    border-color: $focus-2;
  }

  &:active {
    border-color: transparent;
    color: $accent;
    background-color: $active;
  }
}

.button-icon__svg {
  margin-right: 11px;
  fill: $white;
  transition: fill 0.5s;
}

.button-icon {
  padding: 11px 38px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  background-color: $accent;
  border-radius: 5px;
  border: 2px solid transparent;
  color: $white;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;

  &:focus {
    background-color: $focus;
    border-color: $focus-2;
    color: $accent;
  }

  &:hover {
    background-color: $white;
    color: $accent;
    border-color: $focus-2;
  }

  &:active {
    border-color: transparent;
    color: $accent;
    background-color: $active;
  }

    &:focus .button-icon__svg,
    &:hover .button-icon__svg,
    &:active .button-icon__svg {
      fill: #FF6838;
    }
}