$default: #31352B;
$accent: #FF6838;
$title: #363853;
$white: #fff;
$focus: rgba(255, 122, 80, 0.1);
$active: #FFF2ED;
$focus-2: rgba(255, 104, 56, 0.7);
$dop: #C2C2C2;
$social: #ECECEC;

%rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%bg-icons {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
