$default: #31352B;
$accent: #FF6838;
$title: #363853;
$white: #fff;
$focus: rgba(255, 122, 80, 0.1);
$active: #FFF2ED;
$focus-2: rgba(255, 104, 56, 0.7);
$dop: #C2C2C2;
$social: #ECECEC;

$mn: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
