@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';

@import './components/header';
@import './components/footer';

@import './components/sections/hero';
@import './components/product';
@import './components/sections/categories';

