.hero {
  padding: 60px 0 123px;

  &__inner {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    height: 68vh;
    display: flex;
  }

  &__content {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    line-height: 1.3;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    color: $accent;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__link {
    padding: 10px 30px;
    font-size: 18px;
    margin-right: 34px;
    display: inline-block;
  }
}