.hero {
  padding: 60px 0 123px;

  @media screen and (max-width: $xl) {
    padding-bottom: 80px;
  }

  @media screen and (max-width: $md) {
    padding: 25px 0 40px;
  }

  @media (max-width: $lg) and (orientation: landscape) {
    padding: 40px 0 60px;
  }

  &__inner {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    height: 68vh;
    display: flex;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      display: none;
      position: absolute;
      background-color: rgba(249, 250, 255, 0.85);
      z-index: 0;

      @media screen and (max-width: $xl) {
        display: block;
      }
    }
  }

  &__content {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    line-height: 1.3;
    margin-bottom: 20px;
    text-transform: uppercase;

    @media screen and (max-width: $sm) {
      font-size: 40px;
    }

    @media (max-width: $lg) and (orientation: landscape) {
      font-size: 50px;
    }

    @media (max-width: $md) and (orientation: landscape) {
      font-size: 40px;
    }
  }

  &__subtitle {
    display: block;
    color: $accent;
  }

  &__text {
    margin-bottom: 20px;

    @media screen and (max-width: $md) {
      font-size: 18px;
    }

    @media screen and (max-width: $sm) {
      font-size: 16px;
    }

    @media (max-width: $lg) and (orientation: landscape) {
      font-size: 18px;
    }
  }

  &__link {
    padding: 10px 30px;
    font-size: 18px;
    margin-right: 34px;
    display: inline-block;

    @media screen and (max-width: $sm) {
      padding: 8px 24px;
      font-size: 14px;
    }
  }
}