.restaurants {
  padding-bottom: 126px;

  &__title {
    text-align: center;
    margin-bottom: 45px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}