.restaurants {
  padding-bottom: 126px;

  @media screen and (max-width: $md) {
    padding-bottom: 57px;
  }

  &__title {
    text-align: center;
    margin-bottom: 45px;

    @media screen and (max-width: $md) {
      margin-bottom: 23px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    position: relative;

    .slick-dots {
      position: absolute;
      bottom: -9px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (max-width: $xl) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    border-radius: 10px;

    @media screen and (max-width: $md) {
      padding: 7px 0;
    }
  }
}