.footer {
  &__top {
    display: flex;
    padding-bottom: 60px;
    line-height: 1.3;
  }

  &__top-item {
    max-width: 200px;

    &:not(:last-child) {
      margin-right: 70px;
    }
  }

  &__logo {
    margin-bottom: 26px;
  }

  &__list {
    max-width: 571px;
    display: grid;
    grid-template-columns: 153px 89px 187px;
    grid-column-gap: 70px;
    margin-right: 73px;
  }

  &__link {
    font-size: 18px;
  }

  &__bottom {
    padding: 30px 0;
    border-top: 1px solid rgba(194, 194, 194, 0.2);
  }

  &__bottom-text {
    font-size: 14px;
    line-height: 1;
    text-align: center;
  }
}

.form-subscribe {
  &__label {
    margin-bottom: 12px;
    display: inline-block;
    height: 44px;
  }

  &__input {
    width: 100%;
    height: 100%;
    max-width: 200px;
    padding: 13px 15px;
    background-color: $white;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
  }
}

.address {
  &__list-contacts {
    margin-bottom: 15px;
  }

  &__item-contacts:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link-contacts {
    display: flex;
    align-items: center;
    font-style: normal;
    font-size: 16px;
    line-height: 2;
    border-radius: 5px;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s, text-shadow 0.5s;

    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      box-shadow: 0px 0px 0px 2px $focus-2;
    }

    &:hover {
      color: $accent;

      .address__icon {
        stroke: $accent;
      }
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }
  }

  &__icon {
    margin-right: 8px;
    stroke: #31352B;
    stroke-width: 1.5px;
    transition: stroke 0.5s;
  }

  &__list-social {
    display: flex;
  }

  &__item-social:not(:last-child) {
    margin-right: 13px;
  }

  &__link-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    background-color: $social;
    position: relative;
    border-radius: 50%;
    transition: background-color 0.5s, box-shadow 0.5s;

    &:focus {
      background-color: $active;
      box-shadow: 0px 0px 0px 2px $focus-2;
    }

    &:hover {
      background-color: $accent;

      .address__icon-social {
        fill: $white;
      }
    }

    &:active {
      background-color: $active;

      .address__icon-social {
        fill: $accent;
      }
    }
  }

  &__icon-social {
    fill: #31352B;
    transition: fill 0.5s;
  }
}