.header {
  padding-top: 60px;

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 50px;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    font-size: 18px;
    line-height: 1.16;

    &.active {
      color: $accent;
    }
  }
}

.user-nav {
  display: flex;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.5s, box-shadow 0.5s, background-image 0.5s;

    &:nth-child(1) {
      margin-right: 15px;
    }

    &:focus {
      background-color: $focus;
      box-shadow: 0px 0px 0px 2px $focus-2;
    }

    &:hover {
      background-color: $accent;
    }

    &:hover .user-nav__icon {
      stroke: $white;
    }

    &:hover .user-nav__num {
      color: $accent;
      background-color: $white;
    }

    &:active {
      background-color: $focus;
    }

    &:active .user-nav__icon {
      stroke: $title;
    }

    &:active .user-nav__num {
      color: $white;
      background-color: $accent;
    }
  }

  &__icon {
    stroke: $title;
    stroke-width: 1.5px;
    transition: stroke 0.5s;
  }

  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 26px;
    bottom: 22px;
    font-size: 10px;
    line-height: 1.2;
    color: $white;
    background-color: $accent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: color 0.5s, background-color 0.8s;
  }
}

.search-form {
  display: flex;
  position: absolute;
  right: 30px;
  top: 50px;
  font-size: 14px;
  transform: translateY(-350%);
  transition: transform 1s;

  &__label {
    margin-right: 10px;
  }

  &__btn {
    padding: 10px 22px;
  }

  &--active {
    transform: translateY(0);
  }
}