.product {

  &__link {
    height: 300px;
    padding: 20px 15px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px $social;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0px 0px 0px 1px $accent;
    }

    &:focus {
      box-shadow: inset 0px 0px 20px rgba(255, 104, 56, 0.2);
    }

    &:active {
      box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
    }
  }

  &__img {
    margin: 0 auto 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 11px;
  }

  &__button {
    padding: 5px 14px;
    font-size: 14px;
  }

  &__price {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: $title;
    margin-bottom: 8px;
  }
}